body{
  background-color: black;
}
.card{
  background-color:black ;
  margin-top: 20px;
}
.card-img-top{
  height: 260px;
}
h3{
  color: #d90166;
  font-size: 20px;
}
.image img{
  position: relative;
  left: 20px;
}
p{
  color: #FFFFFF/*#A8A8A8*/;
  line-height: 17px;
  font-size: 12px;
}
.card-block{
  margin-right: 10px;

}
