.teamBody{
  background-color: black;
}
.teamWrapper{
  margin-right: 55px;
}
.card{
  background-color:black ;
  width: 290px;
}
.card-img-top{
  height: 260px;
}
.card-title{
  color: #d90166;
  font-size: 20px;
}
.imageTeam img{
  position: relative;
 left: 20px;
}
.card-text{
  color: #FFFFFF/*#A8A8A8*/;
  line-height: 17px;
  font-size: 12px;
}
.card-block{
  margin-right: 10px;
  width: 320px;
}
